body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 13px;
  line-height: 15px;
  background: #EEE4B9;
}
#header {
	height: 70px;
	margin: 0;
	padding: 0;
	text-align: center;
    background: #1A446C;
	color: #D4E6F4;
}
#header h1 { padding: 1em; margin: 0; }
#main {
	height: 600px;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #EEE4B9;
}
#footer {
	height: 30px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
    background: #1A446C;
	color: #D4E6F4;
	height: 50px;
	vertical-align: middle;
}
#page{
	margin: 20px;
}
#logout{
	margin: 20px;
}